.header {
  height: 1000px;
  
  background-image: url('ig.jpg'); 
   /* 이미지 크기
   -> 부족한 부분은 바둑판 형식 배치
   
   */
   /* cover :
   배경이미지 크기의 비율을 고정
   width, height 큰 값을 배경 이미지에 맟춤. 
   보이지 않는 영역이 발생 가능함.
   */
   /* contain:
  배경이미지 크기의 비율을 고정
  이미지가 보이지 않는 영역이 없도록 조정
  이미지 반복될 수 있음. 
   */
   /* px:
   width, height 순으로 지정.
   값 하나만 지정하면, width지정+height: auto  
   */
   /* background-size: cover;
   
   background-position: center; */
   background-size: 100px 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position-x: center;
   /* positon을 bottom 위주로 가능 */
   

}