<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/pong">
        <!-- input + tab -->
        <h1>만약 타노스가 핑거스냅을 한다면 당신은?</h1>
        <img src="http://img.postshare.co.kr/images/2018/12/20181228_102719.jpg" alt="">
        <br>

        <input type="text" name="say" placeholder="원하는 말을 입력하세요">
        <input type="password" name="nn">
        <input type="radio" name="c1" value="A">
        <input type="radio" name="c1" value="B">
        <input type="radio" name="c1" value="C">
        <!-- input:submit + tab -->
        <input type="submit" value="뿅">
        <select name="mood">
            <option value="외로움">외로움</option>
            <option value="외로움">외로움</option>
            <option value="외로움">외로움</option>
            
        </select>

    </form>
</body>
</html>